# Папки
.vscode/
node_modules/
dist/

# Файлы
.DS_Store
*.log
.env

# Локальные настройки (только для меня)
.editorconfig
.prettierrc
.prettierignore
stylelint.config.js
package-lock.json

# Тестовые файлы (если не нужны в репозитории)
test-file.html
test-file.css
