*,
*::before,
*::after {
  box-sizing: border-box; /* Правило для всех элементов, а также псевдоэлементов ::before, ::after. Теперь все размеры элементов будут равны тем значениям, что заданы в свойствах width и height */
}

html {
  block-size: 100%; /* Устанавливает высоту элемента html равной 100% от высоты окна браузера */
}

.page {
  inline-size: 1200px; /* Фиксированная ширина страницы */
  block-size: 100%; /* Занимает всю высоту окна */
  margin: auto; /* Центрирует .page по горизонтали */
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex; /* Чтобы расположить .content внутри .page */
  justify-content: center; /* Центрируем по горизонтали */
  align-items: center; /* Центрируем по вертикали */
}

.content {
  display: flex; /* Чтобы расположить .result и .content__details в строку */
  gap: 30px; /* Отступ между блоками */
  align-items: flex-end; /* Прижимаем к нижнему краю */
  inline-size: 1140px; /* Фиксируем ширину (1200px - отступы) */
}

.result {
  display: flex; /* Чтобы расположить элементы внутри .result */
  flex-direction: column; /* Элементы располагаются вертикально, в колонку */
  /* gap: 16px; /* Отступ между видео и формой ?*/
}

.result__video-container {
  inline-size: 711px; /* Фиксируем ширину видео-контейнера */
  block-size: 386px; /* Фиксируем высоту видео-контейнера */
  margin-block-end: 16px; /* Отступ снизу */
  position: relative; /* Для позиционирования видео */
}

.result__video {
  inline-size: 100%; /* Растягиваем видео на весь контейнер в ширину*/
  block-size: 100%; /* Растягиваем видео на весь контейнер в высоту */
  object-fit: cover; /* Чтобы видео заполняло контейнер без искажений */
  object-position: center; /* Центрирует видео */
}

.search-form {
  display: flex; /* Чтобы расположить элементы формы */
  justify-content: space-between; /* Распределяем элементы равномерно */
  align-items: flex-start; /* Прижимаем к верхнему краю */
  gap: 40px; /* Расстояние между fieldset и кнопкой */
}

.search-form__fieldset {
  border: none; /* Убираем стандартный border */
  flex-grow: 1; /* Растягивает fieldset на доступное пространство */
}

.search-form__checkbox-list {
  display: flex; /* Располагаем чекбоксы в строку */
  gap: 15px; /* Отступ между чекбоксами */
}

.content__details {
  flex-grow: 1; /* Занимает всё доступное пространство */
  block-size: 100%; /* Занимает всю высоту .content */
  display: flex; /* Чтобы расположить элементы внутри .content__details */
  flex-direction: column; /* Элементы располагаются вертикально, в колонку */
  gap: 26px; /* Отступ между заголовком и списком */
}

.content__list-container {
  block-size: 298px; /* Фиксируем высоту */
  overflow-y: auto; /* Скролл при переполнении */
  scrollbar-width: thin; /* Установка тонкой полосы прокрутки */
  display: flex; /* Чтобы расположить элементы */
  flex-direction: column; /* Элементы располагаются в колонку */
  gap: 20px; /* Отступ между последней карточкой и кнопкой */
}

.content__list {
  display: flex; /* Чтобы расположить элементы списка */
  flex-direction: column; /* Элементы располагаются вертикально, в колонку */
  gap: 30px; /* Отступ между карточками */
  padding: 0; /* Убираем стандартные внутренние отступы списка */
  margin: 0; /* Убираем стандартные внешние отступы списка */
}

.content__video-card {
  display: flex; /* Располагаем элементы в строку */
  justify-content: space-between; /* Разделяем описание и картинку */
  align-items: flex-start; /* Прижимаем к верхнему краю */
}

.content__video-card-description-container {
  flex-grow: 1; /* Занимает всё доступное пространство */
  /* padding-inline-end: 10px; /* Отступ между текстом и картинкой ? */
}

.content__video-card-thumbnail {
  min-inline-size: 194px; /* Минимальная ширина изображения */
  block-size: 103px; /* Фиксированная высота */
  object-fit: cover; /* Заполняет контейнер без искажений */
  object-position: center; /* Центрирует изображение */
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px; /* Размер шрифта */
  font-weight: 400; /* Обычное начертание (толщина шрифта) */
  line-height: normal; /* Значение высоты строки (интерлиньяжа) */
  margin-block-end: 5px; /* Отступ снизу */
}

.title {
  font-family: Oswald, sans-serif; /* Другой шрифт для заголовка */
  font-size: 75px; /* Размер шрифта */
  font-weight: 700; /* Жирное начертание */
  line-height: 94%; /* Нестандартный интерлиньяж */
  text-transform: uppercase; /* Все буквы заглавные */
}

.content__accent {
  color: #545050; /* Серый акцентный цвет */
}

.content__card-link {
  color: inherit; /* Наследует цвет текста от родителя */
  text-decoration: none; /* Убирает подчёркивание */
  display: block; /* Чтобы ссылка занимала всю площадь карточки */
}

.content__video-card-title {
  font-family: Oswald, sans-serif; /* Шрифт для заголовка */
  font-size: 30px; /* Размер шрифта */
  font-weight: 700; /* Жирное начертание */
  line-height: 100%; /* Интерлиньяж */
  text-transform: uppercase; /* Все буквы заглавные */
  margin-block-end: 6px; /* Отступ снизу */
  overflow: hidden; /* Обработка переполнения текста */
  text-overflow: ellipsis; /* Обрезает текст и добавляет … при переполнении */
  white-space: nowrap; /* Запрещает перенос строк */
  max-inline-size: 196px; /* Ограничение ширины */
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif; /* Шрифт для текста под заголовком */
  font-size: 18px; /* Размер шрифта */
  font-weight: 400; /* Нормальное начертание */
  line-height: 16.2px; /* Нестандартный интерлиньяж */
  display: -webkit-box; /* Ограничение количества строк */
  line-clamp: 4; /* Максимум 4 строки */
  overflow: hidden; /* Cодержимое, которое выходит за пределы блока, будет обрезано */
}

.visually-hidden {
  /* Скрывает лишние лейблы и браузерные чекбоксы */
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__label {
  display: flex; /* Размещаем элементы в строку */
  align-items: center; /* Центрируем по вертикали */
  width: fit-content; /* Ширина по содержимому */
  gap: 5px; /* Отступ между чекбоксом и текстом */
  cursor: pointer; /* Курсор-указатель */
}

.search-form__textfield {
  inline-size: 225px; /* Минимальная ширина */
  border: none; /* Убираем стандартные границы */
  border-top: 1px solid currentColor; /* Верхняя граница */
  border-bottom: 1px solid currentColor; /* Нижняя граница */
  color: #fff; /* Цвет текста */
  font-family: 'Fira Sans Condensed', sans-serif; /* Наследуем шрифт */
  font-size: 18px; /* Размер шрифта */
  background-color: transparent; /* Прозрачный фон */
  appearance: none; /* Убираем браузерные стили */
  padding: 2px 0; /* Отступы внутри поля */
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7); /* Полупрозрачный текст */
}

.search-form__textfield:focus {
  outline: none; /* Убираем стандартную обводку */
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid currentColor; /* Обводка при фокусе */
  outline-offset: 1px; /* Отступ от элемента */
}

.search-form__pseudo-checkbox {
  /* Псевдочекбокс (замена input[type="checkbox"]) */
  display: flex; /* Для центрирования внутреннего квадрата */
  align-items: center; /* Для центрирования внутреннего квадрата */
  justify-content: center; /* Для центрирования внутреннего квадрата */
  inline-size: 19px; /* Ширина */
  block-size: 19px; /* Высота */
  border: 1px solid #fff; /* Белая рамка */
  padding: 1px; /* Отступ для внутреннего квадрата */
}

.search-form__pseudo-checkbox::after {
  /* Внутренний квадрат (закрашенная часть) */
  content: ''; /* Обязательное свойство для псевдоэлемента */
  display: block; /* Строка превращается в условный прямоугольник */
  inline-size: 100%; /* Занимает всю ширину псевдочекбокса */
  block-size: 100%; /* Занимает всю высоту */
  background-color: #fff; /* Белый цвет */
  opacity: 0; /* Изначально прозрачный */
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  /* Стилизует соседний элемент при активном чекбоксе */
  opacity: 1; /* Показываем закрашенный квадрат */
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline; /* Подчеркивание текста при наведении на весь лейбл */
}

.button {
  background-color: transparent; /* Фон прозрачный */
  border: 1px solid currentColor; /* Обводка */
  color: #fff; /* Цвет текста*/
  font-family: 'Fira Sans Condensed', sans-serif; /* Шрифт */
  font-size: 18px; /* Размер шрифта */
  font-weight: 700; /* Жирное начертание */
  text-align: center; /* Горизонтальное выравнивание текста по центру родительского элемента */
  cursor: pointer; /* Курсор указывает на возможность взаимодействия */
  padding: 0; /* Сброс стандартных отступов */
  appearance: none; /* Убираем браузерные стили */
}

.search-form__submit-button {
  align-self: flex-end; /* Выравниваем по нижнему краю формы */
  inline-size: 194px; /* Ширина */
  block-size: 34px; /* Высота */
}

.more-button {
  inline-size: 100%; /* Растягиваем на всю ширину */
  min-height: 34px; /* Высота */
}

.button:hover {
  text-decoration: underline; /* Подчеркивание при наведении */
}

.button:active {
  background-color: #545050; /* Цвет фона в активном состоянии */
}

.button:focus {
  outline: none; /* Убираем стандартный outline */
}

.button:focus-visible {
  outline: 1px solid currentColor; /* Обводка при фокусе */
  outline-offset: 1px; /* Отступ между контуром и краем элемента */
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 0.1);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}
