*,
*::before,
*::after {
  box-sizing: border-box; /* Правило для всех элементов, а также псевдоэлементов ::before, ::after. Теперь все размеры элементов будут равны тем значениям, что заданы в свойствах width и height */
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  display: flex; /* Чтобы расположить .content внутри .page */
  justify-content: center; /* Центрируем по горизонтали */
  align-items: center; /* Центрируем по вертикали */
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  gap: 30px;
  width: 1140px;
  height: auto;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  gap: 16px;
}

.result__video-container {
  position: relative; /* Для позиционирования видео */
  margin-bottom: 0;
  width: 711px; /* Фиксируем ширину видео-контейнера */
  height: 386px; /* Фиксируем высоту видео-контейнера */
}

.result__video {
  object-fit: cover; /* Чтобы видео заполняло контейнер без искажений */
  object-position: center; /* Центрирует видео */
  inline-size: 100%; /* Растягиваем видео на весь контейнер в ширину*/
  block-size: 100%; /* Растягиваем видео на весь контейнер в высоту */
}

.content__details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  gap: 26px;
}

.title {
  position: relative;
  font-family: Oswald, sans-serif; /* Другой шрифт для заголовка */
  font-weight: 700; /* Жирное начертание */
  font-size: 75px; /* Размер шрифта */
  line-height: 94%; /* Нестандартный интерлиньяж */
  text-transform: uppercase; /* Все буквы заглавные */
}

.content__accent {
  color: #545050; /* Серый акцентный цвет */
}

.content__list-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto; /* Скролл при переполнении */
  height: 293px; /* Фиксируем высоту */
  gap: 30px;
}

.content__list {
  display: flex; /* Чтобы расположить элементы списка */
  flex-direction: column; /* Элементы располагаются вертикально, в колонку */
  gap: 30px; /* Отступ между карточками */
  width: 100%;
  margin: 0; /* Убираем стандартные внешние отступы списка */
  padding: 0; /* Убираем стандартные внутренние отступы списка */
}

.content__list-item {
  margin: 0;
  padding: 0 3px;
}

.content__video-card {
  display: flex; /* Располагаем элементы в строку */
  flex-direction: row;
  align-items: flex-start; /* Прижимаем к верхнему краю */
}

.content__video-card-description-container {
  flex-grow: 1; /* Занимает всё доступное пространство */
}

.content__video-card-thumbnail {
  object-fit: cover; /* Заполняет контейнер без искажений */
  object-position: center; /* Центрирует изображение */
  min-width: 194px; /* Минимальная ширина изображения */
  height: 103px; /* Фиксированная высота */
  flex-shrink: 0;
}

.content__video-card-title {
  margin-block-end: 6px; /* Отступ снизу */
  overflow: hidden; /* Обработка переполнения текста */
  font-family: Oswald, sans-serif; /* Шрифт для заголовка */
  font-weight: 700; /* Жирное начертание */
  font-size: 30px; /* Размер шрифта */
  line-height: 100%; /* Интерлиньяж */
  text-transform: uppercase; /* Все буквы заглавные */
  text-overflow: ellipsis; /* Обрезает текст и добавляет … при переполнении */
  white-space: nowrap; /* Запрещает перенос строк */
  max-inline-size: 196px; /* Ограничение ширины */
}

.content__video-card-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 4;
  overflow: hidden;
  font-family: inherit;
  font-size: inherit;
  line-height: 16.2px;
  font-weight: inherit;
}

.search-form {
  display: flex; /* Чтобы расположить элементы формы */
  flex-direction: row;
  justify-content: space-between; /* Распределяем элементы равномерно */
  align-items: flex-start;
  width: 100%;
}

.search-form__fieldset {
  flex-grow: 1; /* Растягивает fieldset на доступное пространство */ /* Убираем стандартный border */
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: none;
}

.search-form__fieldset-title {
  margin-bottom: 5px; /* Отступ снизу */
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  line-height: inherit;
  font-weight: inherit;
}

.search-form__checkbox-list {
  display: flex; /* Располагаем чекбоксы в строку */
  gap: 15px; /* Отступ между чекбоксами */
}

.search-form__textfield {
  padding: 1px 0; /* Отступы внутри поля */
  border: none; /* Убираем стандартные границы */
  border-top: 1px solid currentColor; /* Верхняя граница */
  border-bottom: 1px solid currentColor; /* Нижняя граница */
  background-color: transparent;
  inline-size: 225px; /* Минимальная ширина */
  appearance: none; /* Убираем браузерные стили */
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  line-height: inherit;
  font-weight: inherit;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7); /* Полупрозрачный текст */
}

.search-form__label {
  display: flex; /* Размещаем элементы в строку */
  align-items: center; /* Центрируем по вертикали */
  gap: 5px; /* Отступ между чекбоксом и текстом */
  width: fit-content; /* Ширина по содержимому */
  cursor: pointer; /* Курсор-указатель */
}

.search-form__pseudo-checkbox {
  /* Псевдочекбокс (замена input[type="checkbox"]) */
  display: flex; /* Для центрирования внутреннего квадрата */
  justify-content: center; /* Для центрирования внутреннего квадрата */
  align-items: center; /* Для центрирования внутреннего квадрата */
  padding: 1px; /* Отступ для внутреннего квадрата */
  border: 1px solid #fff; /* Белая рамка */
  inline-size: 19px; /* Ширина */
  block-size: 19px; /* Высота */
}

.search-form__pseudo-checkbox::after {
  /* Внутренний квадрат (закрашенная часть) */
  content: ''; /* Обязательное свойство для псевдоэлемента */
  display: block; /* Строка превращается в условный прямоугольник */
  opacity: 0; /* Изначально прозрачный */
  background-color: #fff; /* Белый цвет */
  inline-size: 100%; /* Занимает всю ширину псевдочекбокса */
  block-size: 100%; /* Занимает всю высоту */
}

.button {
  padding: 0; /* Сброс стандартных отступов */
  border: 1px solid currentColor; /* Обводка */
  text-align: center; /* Горизонтальное выравнивание текста по центру родительского элемента */
  background-color: transparent; /* Фон прозрачный */
  cursor: pointer; /* Курсор указывает на возможность взаимодействия */
  appearance: none; /* Убираем браузерные стили */
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  line-height: inherit;
  font-style: normal;
  font-weight: 700;
}

.search-form__submit-button {
  align-self: flex-end; /* Выравниваем по нижнему краю формы */
  inline-size: 194px; /* Ширина */
  block-size: 34px; /* Высота */
}

.more-button {
  min-height: 34px; /* Высота */
  inline-size: 100%; /* Растягиваем на всю ширину */
  margin-right: 2px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  /* Стилизует соседний элемент при активном чекбоксе */
  opacity: 1; /* Показываем закрашенный квадрат */
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline; /* Подчеркивание текста при наведении на весь лейбл */
}

.button:hover {
  text-decoration: underline; /* Подчеркивание при наведении */
}

.button:active {
  background-color: #545050; /* Цвет фона в активном состоянии */
}

.search-form__textfield:focus {
  outline: none; /* Убираем стандартную обводку */
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid currentColor; /* Обводка при фокусе */
  outline-offset: 1px; /* Отступ от элемента */
}

.button:focus {
  outline: none; /* Убираем стандартный outline */
}

.button:focus-visible {
  outline: 1px solid currentColor; /* Обводка при фокусе */
  outline-offset: 1px; /* Отступ между контуром и краем элемента */
}

.content__card-link {
  display: block; /* Чтобы ссылка занимала всю площадь карточки */
  color: inherit; /* Наследует цвет текста от родителя */
  text-decoration: none; /* Убирает подчёркивание */
  background-color: transparent; /* Прозрачный фон по умолчанию */
  cursor: pointer; /* Курсор */
}

.content__card-link_current {
  background-color: #545050; /* Прозрачный фон первой активной карточки */
}

.content__card-link:hover {
  text-decoration: underline; /* Подчеркивание текста при наведении */
}

.content__card-link:active {
  text-decoration: none; /* Без обводки */
  background-color: #545050; /* Серый фон при нажатии */
}

.content__card-link:focus {
  outline: none; /* Убираем стандартный outline в фокусе*/
}

.content__card-link:focus-visible {
  outline: 1px solid currentColor; /* Белая обводка */
  outline-offset: 1px; /* Отступ от края */
}

.visually-hidden {
  /* Скрывает лишние лейблы и браузерные чекбоксы */
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 0.1);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}
